{{#if flash}}
<span id="snackbar" class="{{flash.type}}">{{flash.msg}}</span>
{{/if}}

<footer>
  <span>Powered By<a href="https://github.com/liamrosenfeld/linkr" target="_blank"><img src="/resource/logo.svg"
        alt="Linkr"></a></span>
</footer>
