<header>
    <div id="left">
        <a href="/">Dashboard</a>
        {{#if user.manage_links}}
        <a href="/manage_links">Manage Links</a>
        {{/if}}
        {{#if user.manage_users}}
        <a href="/manage_users">Manage Users</a>
        {{/if}}
    </div>

    <div id="right" class="dropdown">
        <p>{{user.username}}</p>
        <div class="dropdown-content">
            <a href="/manage_account">Manage Account</a>
            <a href="/api/users/logout">Logout</a>
        </div>
    </div>

</header>
