<header>
    <p>user: {{user.name}}</p>

    <form method="get" action="/api/users/logout">
        <input type="submit" id="logout" value="log out">
    </form>

    <a href="/">Dashboard</a>
    {{#if user.manage_links}}
    <a href="/manage_links">Manage Links</a>
    {{/if}}
    {{#if user.manage_users}}
    <a href="/manage_users">Manage Users</a>
    {{/if}}
</header>
