<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <link rel="stylesheet" href="/resource/style.css">
</head>

<body>
  <h1>Login</h1>

  <form action="/api/users/login" method="post">
    <label for="username">username</label>
    <input type="text" autocomplete="username" name="username" id="username" value="" />
    <label for="password">password</label>
    <input type="password" autocomplete="current-password" name="password" id="password" value="" />
    <input type="submit" value="Login" />
  </form>

  {{> partials/footer }}
</body>

</html>
