<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <link rel="stylesheet" href="/resource/style.css">
</head>

<body>

  {{> partials/header }}

  <div id="content">
    <h1>Manage Account</h1>

    <h2>Username</h2>

    <form action="/api/users/update/username" method="post">
      <input type="text" name="username" id="username" value="{{user.username}}" />
      <input type="submit" value="Save" />
    </form>

    <h2>Password</h2>

    <form action="/api/users/update/password" method="post">
      <label for="current_pw">Current Password:</label>
      <input autocomplete="current-password" type="password" name="current_pw" value="" /><br />
      <label for="new_pw">New Password:</label>
      <input autocomplete="new-password" type="password" name="new_pw" value="" /><br />
      <input type="submit" value="Save" />
    </form>

    <h2>Disable Account</h2>

    {{#if user.orig}}
    <p>You cannot delete the original user</p>
    {{else}}
    <form action="/api/users/disable_current" method="post"
      onsubmit="return confirm('Are you sure you want to disable your account?');">
      <label for="password">Current Password:</label>
      <input autocomplete="current-password" type="password" name="password" value="" /><br />
      <input type="submit" value="Disable" />
    </form>

    <div class="note">
      <p>Disabling preserves links and is able to be undone by an admin.</p>
    </div>
    {{/if}}

    <h2>Delete Account</h2>

    {{#if user.orig}}
    <p>You cannot delete the original user</p>
    {{else}}
    <form action="/api/users/delete_current" method="post"
      onsubmit="return confirm('Are you sure you want to permanently delete your account?');">
      <label for="password">Current Password:</label>
      <input autocomplete="current-password" type="password" name="password" value="" /><br />
      <input type="submit" value="Delete" />
    </form>

    <div class="note">
      <p>Deleting your account will also delete <strong>all your links</strong>. Do not delete your account if links you
        created are still in use.</p>
    </div>
    {{/if}}
  </div>

  {{> partials/footer }}
</body>

</html>
