<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <style>
    .error {
      color: red;
    }
  </style>
</head>

<body>
  <h1>Create New User</h1>
  <p>Create an account for someone else on your team</p>
  <form action="/api/users/new" method="post">
    <h3>Credentials</h3>
    <label for="username">username</label>
    <input type="text" autocomplete="username" name="username" id="username" value="" /><br />
    <label for="password">password</label>
    <input type="password" autocomplete="new-password" name="password" id="password" value="" />
    <p><em>They should update their password on login</em></p>

    <h3>Permissions</h3>
    <input type="checkbox" id="manage_links" name="manage_links" value="true">
    <label for="manage_links">Manage All Links</label><br />

    <input type="checkbox" id="manage_users" name="manage_users" value="true">
    <label for="manage_users">Manage All Users</label><br />

    <input type="submit" value="Create Account" />
  </form>

  {{#if flash}}
  <span class="{{flash.type}}">{{flash.msg}}</span>
  {{/if}}
</body>

</html>
