<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Linkr</title>

  <link rel="stylesheet" href="/resource/style.css">
</head>

<body>

  <div id="content">
    <h1>Setup Linkr</h1>
    <form action="/api/users/new" method="post">
      <label for="username">username</label>
      <input type="text" autocomplete="username" name="username" id="username" value="" /><br />
      <label for="password">password</label>
      <input type="password" autocomplete="new-password" name="password" id="password" value="" /><br />

      <input type="hidden" id="manage_links" name="manage_links" value="true">
      <input type="hidden" id="manage_links" name="manage_users" value="true">

      <input type="submit" value="Create Account" />
    </form>
  </div>

  {{> partials/footer }}
</body>

</html>
