/* -------------------------------- snackbar -------------------------------- */

#snackbar {
  min-width: 250px;
  margin-left: -125px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;

  -webkit-animation: fadeOut 4s;
  animation: fadeOut 4s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

/* ---------------------------------- table --------------------------------- */

th,
td {
  border: 1px solid;
}

th {
  font-weight: bold;
}
